@import 'tailwindcss';

@theme {
  --font-sans: 'Outfit', sans-serif;
  --font-serif: 'Playfair Display', serif;
  
  --color-background: var(--bg-default);
  --color-foreground: var(--fg-default);
  --color-primary: var(--primary-default);
  --color-primary-foreground: var(--primary-fg);
  --color-secondary: var(--secondary-default);
  --color-accent: var(--accent-default);
}

@layer base {
  :root {
    --bg-default: #ffffff;
    --fg-default: #111111;
    --primary-default: #111111;
    --primary-fg: #fafafa;
    --secondary-default: #f5f5f5;
    --accent-default: #eaeaea;
  }
}

@layer base {
  body {
    background-color: var(--bg-default);
    color: var(--fg-default);
    font-family: var(--font-sans);
  }
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
